services:
  python-server:
    build:
      context: ./python-server
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    volumes:
      - ./python-server/src:/app/src

  node-server:
    build:
      context: ./node-server
      dockerfile: Dockerfile
    ports:
      - "8001:8001"
    volumes:
      - ./node-server/src:/usr/src/app/src
      # if you want to preserve node_modules from image, do NOT mount the whole project root:
      - /usr/src/app/node_modules
    working_dir: /usr/src/app
    environment:
      - NODE_ENV=development
    command: ["yarn", "start"]
    depends_on:
      - python-server